.user-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    align-items: center;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: rotate(3deg);
}

.card img {
    border-radius: 50%;
}
.delete-btn {
    background-color: rgb(33, 48, 29);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}