.no-users {
    font-size: 10rem;
    font-weight: bold;
    opacity: 20%;
    color: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.create-user {
    position: fixed;
    transform: rotate(-90deg);
    left: 0;
    top: 50%;
    background-color: coral;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}